*{
    padding: 0px;
    margin: 0px;
}

/* header */

header{
    background-color: #1d1d1d;
    border-bottom: 1px solid#bcc1c73f;
}

.header-container{
    max-width: 1644px;
    min-width: 1000px;
    height: 58px;
    margin-left: 94px;
    margin-right: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
    max-width: 444px;
    display: flex;
    height:100%;
    justify-content: space-between;
}

.logocontainer{
    padding-top: 5px;
}

.topic{
    font-family: 'Arimo', sans-serif;
    padding-top: 3px;
    font-size: 18px;
    padding-right: 3px;
    padding-top: 15px;
    color: #91918d;
}

.right{
    width: 547px;
    justify-content: flex-end;
    display: flex;
    height: 100%;
}

.search-bar{
    width: 250px;
}

.home-nav{
    width: 185px;
}

.h-n1{
    justify-content: space-between;
    font-size: 13px;
    padding-top: 23px;
}

.link{
    color: #749191;
}

.link1{
    margin-left:7px;
}

.link2{
    margin-right:13px;
}

.login-nav{
    width: 107px;
}

.links{
    color: #ffffff;
}


.h-n1, .l-n1{
    display: flex;
    list-style: none;
    font-family: 'Arimo', sans-serif;
    font-size: 15px;
    padding-top: 21px;
}

.link,.links{
    text-decoration: none;
    padding-right: 4px;
   
}

/* header */


/* main */

.main-conternt{
    width: 100%;
    height:2379px ;
}

.section1{
    width: 100%;
    height: 991px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1d1d1d;
    
}

.section11{
    border-bottom:1px solid #bcc1c7;
}

.write {
    margin-top: 49px;
    font-family: 'Arimo', sans-serif;
    padding-left: 114px;
    font-size: 2.5em;
    letter-spacing: 1px;
    font-weight: 700;
    color: #fffffb;
}

.writep {
    color: #bcc1c7;
    margin-top: 28px;
    font-size: 0.96em;
    padding-left: 276px;
    letter-spacing: -0.03em;
    font-family: Arimo,Arial,Helvetica,lucida grande,sans-serif;
}

.popular {
    width: 685px;
    height: 24px;
    margin-left: 476px;
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
}

.popular-down{
    width: 186px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.pd-write{
    font-family: 'Arimo', sans-serif;
    color: #fffffb;
    font-size: 16px;
    font-weight: bold;
    padding-top: 4px;
    margin-right: 1px;
}

.rss-guide{
    width: 23px;
    height: 100%;
}

.section11, .section12{
    height: 239px;
    max-width: 1169px;
}

.section12{
    height: 752px;
}

.movies1, .movie3{
    max-width: 1100px;
    height: 363px;
    margin-top: 22px;
    margin-left: 34px;
}

.movie3{
    margin-top: 34px;
}

.movies1, .movie3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 71px;
}


.photo1 {
    border: 6px solid white;
    height: 316px;
    width: 95%;
    border-radius: 4px;
}

.resize {
    width: 210px;
    height: 316px;
}

.m-name{
    height: 34px;
    margin-top: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.name{
    font-size: .95em;
    font-weight: 700;
    color:#fff;
    font-family: 'Arimo', sans-serif;
    letter-spacing: -.03em;
}

.date{
    font-size: .85em;
    color:#919191;
}

.warning{
    width: 1132px;
    height: 308px;
    border: 5px solid#80c74f;
    margin-top: 19px;
    margin-left: 13px;
    background-color: #000000;
}

.wtitle{
    width: 847px;
    height: 61px;
    margin-left: 141px;
    border-bottom: 1px solid white;
}

.wtitleh{
    color:white;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 700;
    text-shadow: 0 2px 2px rgba(0,0,0,.4);
    line-height: 1.729;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.wtitlep1{
    color: white;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    text-align: center;
    font-size: .95em;
    letter-spacing: -.03em;
    line-height: 34px;
}

.wtitlep2{
    color: #ABCC06;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: .95em;
    letter-spacing: -.03em;
    font-weight: bold;
    margin-top: 10px;
    padding-left: 37px;
    line-height: 28px;

}

.highlt{
    color: white;
    background-color: #AD0000;
}

.wtitlep3{
    display: flex;
    justify-content: center;
    color:#4c96d0;
    font-size: 120%;
    letter-spacing: -.03em;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    margin-top: 16px;
}

.login{
    width: 250px;
    height: 37px;
    background-color: #76c74e;
    display: flex;
    margin-top: 21px;
    margin-left: 440px;
    border-radius: 3px;
}

.icon{
    width: 56px;
}

.dwv{
    text-shadow: 2px 2px#4b9924;
    font-weight: bold;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: .95em;
    letter-spacing: -.03em;
    color: white;
    padding-top: 10px;
}

.warning a{
    text-decoration: none;
}

.section2{
    width: 100%;
    height: 884px;
    background-color: #171717;
    display: flex;
    justify-content: center;
}


.section21, .section31{
    width: 1169px;
    height: 100%;
}


.l-n{
    width: 1140px;
    height: 16px;
    margin-top: 43px;
    margin-left: 14px;
    display: flex;
    justify-content: space-between;
}

.l-nl{
    font-size: 1.15em;
    font-weight: 700;
    font-family: Arimo,Arial,Helvetica,lucida grande,sans-serif;
    letter-spacing: -.05em;
    color: #fff;
}

.l-nr{
    font-family: Arimo,Arial,Helvetica,lucida grande,sans-serif;
    letter-spacing: -.03em;
    font-size: 14px;
    font-weight: 700;
    color:#919191;
}

.movies2{
    width: 1100px;
    height: 746px;
    margin-top: 31px;
    margin-left: 34px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 71px;
    grid-row-gap:18px;
}


.section3{
    width: 100%;
    height: 529px;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid#bcc1c73f;
}

/* main */

/*footer*/

.fclass{
    width: 100%;
    height: 129px;
    background-color: #171717;
    display: flex;
    justify-content: center;
}

.fclass1{
    height: 100%;
    width: 654px;
}

.firstline{
    margin-top: 25px;
    height: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.fline1{
    height:100%;
    width: 145px;
    font-family: Arimo,Arial,Helvetica,lucida grande,sans-serif;
    letter-spacing: -.03em;
    font-size: 16px;
    color:#fff;
}


.fline2{
    height: 100%;
    width: 509px;
}

.footerlist{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.fli1{
    text-decoration: none;
    font-size: .85em;
    font-weight: 700;
    color:#919191;
    font-family: Arimo,Arial,Helvetica,lucida grande,sans-serif;
    letter-spacing: -.03em;
}


.secondline{
    width: 114px;
    height:15px;
    margin-top: 16px;
    margin-left: 270px;
}

.thirdline{
    width: 566px;
    height:15px;
    margin-top: 16px;
    margin-left: 39px;
    display: flex;
}

.tl1,.tl3{
    height: 100%;
    width: 291px;
    font-family: Arimo,Arial,Helvetica,lucida grande,sans-serif;
    letter-spacing: -.10em;
    font-size: 16px;
    color:#fff;
}

.tl2{
    height: 100%;
    width: 98px;
}

.footerlists{
    list-style: none;
}

.fli2{
    text-decoration: none;
    font-size: .85em;
    font-weight: 700;
    color:#919191;
    font-family: Arimo,Arial,Helvetica,lucida grande,sans-serif;
    letter-spacing: -.10em;
}

.tl3{
    height: 100%;
    width: 126px;
}


.tl4{
    height: 100%;
    width: 38px;
}

/* footer */