*{
    padding: 0px;
    margin: 0px;
}

/* header */

header{
    background-color: #1d1d1d;
    border-bottom: 1px solid#bcc1c73f;
}

.header-container{
    width: 1644px;
    height: 58px;
    margin-left: 94px;
    display: flex;
    justify-content: space-between;
}

.left{
    width: 444px;
    display: flex;
    height:100%;
    justify-content: space-between;
}

.logocontainer{
    padding-top: 5px;
}

.topic{
    font-family: 'Arimo', sans-serif;
    padding-top: 3px;
    font-size: 18px;
    padding-right: 3px;
    padding-top: 15px;
    color: #91918d;
}

.right{
    width: 547px;
    justify-content: flex-end;
    display: flex;
    height: 100%;
}

.search-bar{
    width: 250px;
}

.home-nav{
    width: 185px;
}

.h-n1{
    justify-content: space-between;
    font-size: 13px;
    padding-top: 23px;
    margin:1px solid blue;
}

.link{
    color: #749191;
}

.link1{
    margin-left:7px;
}

.link2{
    margin-right:13px;
}

.login-nav{
    width: 107px;
}

.links{
    color: #ffffff;
}


.h-n1, .l-n1{
    display: flex;
    list-style: none;
    font-family: 'Arimo', sans-serif;
    font-size: 15px;
    padding-top: 21px;
}

.link,.links{
    text-decoration: none;
    padding-right: 4px;
   
}

/* header */


/* main */

.main-conternt{
    width: 100%;
    height:2379px ;
}

.section1{
    width: 100%;
    height: 991px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1d1d1d;
    
}

.section11{
    border-bottom:1px solid #bcc1c7;
}

.section11, .section12{
    height: 239px;
    width: 1169px;
}
.section12{
    height: 752px;
}

.write {
    margin-top: 49px;
    font-family: 'Arimo', sans-serif;
    padding-left: 114px;
    font-size: 2.5em;
    letter-spacing: 1px;
    font-weight: 700;
    color: #fffffb;
}

.writep {
    color: #bcc1c7;
    margin-top: 28px;
    font-size: 0.96em;
    padding-left: 276px;
    letter-spacing: -0.03em;
    font-family: Arimo,Arial,Helvetica,lucida grande,sans-serif;
}

.popular {
    width: 685px;
    height: 24px;
    margin-left: 476px;
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
}

.popular-down{
    width: 186px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.pd-write{
    font-family: 'Arimo', sans-serif;
    color: #fffffb;
    font-size: 16px;
    font-weight: bold;
    padding-top: 4px;
    margin-right: 1px;
}

.rss-guide{
    width: 23px;
    height: 100%;
}

.section2{
    width: 100%;
    height: 884px;
    background-color: #171717;
}

.section3{
    width: 100%;
    height: 504px;
    background-color: #1d1d1d;
}

/* main */

